<ion-view view-title=''>
    <ion-content class="has-footer">
        <div class="menu_top">
            <div class="menu_right">
                <button clear class="button-clear"><span>הסטוריה</span></button>
            </div>
            <div class="menu_left">
                <button clear class="button-clear"><span>עלה היום בספונטני</span></button>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="supplier_footer">
        <div ng-click="showSettings()"><img src="img/add_new_deal.png"></div>
    </ion-footer-bar>
</ion-view>